<nav class="navbar bg-light">
  <div class="navbar-collapse">
    <div class="name">
      Ahlonko
    </div>
    <div class="logo">
      <%= link_to root_path, class:"text-decoration-none" do %>
        <i class="fa-solid fa-house"></i>
      <% end %>
      <a href="https://github.com/Ahlonko1" target="_blank"><i class="fa-brands fa-github"></i></a>
      <a href="https://www.linkedin.com/in/ahlonkokowouvi/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  </div>
</nav>
