<h1>Resume</h1>
<div class="row">
  <div class="col px-5">
    <div>
    <h3>EDUCATION AND QUALIFICATIONS</h3>
    <div>
      <p><strong>Le Wagon, Paris</strong> - 9-week Web Development Full Stack bootcamp</p>
      <p><strong>AUDENCIA Business School, Nantes</strong> - Master double degree in Accounting and Finance</p>
      <p><strong>IAE School of Management, Lyon</strong> - Bachelor’s degree in Business Administration</p>
    </div>
    <h3>SKILLS</h3>
      <p><strong>LANGUAGES</strong></p>
      <p>FRENCH & ENGLISH: bilingual</p>
      <p>GERMAN: conversational</p>
      <p><strong>IT</strong></p>
      <p>ACCOUNTING: CEGID, SAGE, M3</p>
      <p>PROGRAMMING: Ruby on Rails, HTML, CSS, JavaScript, SQL, Bootstrap, Regex, Heroku</p>
      <p>VERSIONING: Git, GitHub</p>
    <h3>ACTIVITIES AND INTERESTS</h3>
      <p><strong>SPORTS</strong></p>
      <p><strong>CULTURE</strong></p>
    </div>
  </div>
  <div class="col">
    <div>
      <h3>WORK EXPERIENCE</h3>
      <p><strong>Flexstone Partners, Paris</strong> - Middle Office Manager – Full time</p>
      <p><strong>EY, Paris</strong> - Manager FSO (Financial Services Office) - TAX department – Full time</p>
      <p><strong>Grant Thornton, Paris</strong> - Senior Associate - IBAS department – 6-month internship then Full time</p>
    </div>
  </div>
</div>
